<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-t" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mercado Pago App</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>

<!-- CAMBIOS IMPORTANTES: min-vh-100, d-flex, flex-column -->
<body class="bg-secondary t d-flex flex-column min-vh-100">

    <!-- CAMBIO IMPORTANTE:
        Este 'main' ahora centra todo vertical y horizontalmente.
        El 'py-4' le da espacio arriba/abajo.
        El 'flex-grow-1' lo hace ocupar el espacio sobrante.
    -->
    <main class="d-flex align-items-center py-4 flex-grow-1">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Las vistas (Login, Register) se renderizarán aquí -->
                @RenderBody()
            </div>
        </div>
    </main>

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <!-- Esta línea es necesaria para las validaciones -->
    @RenderSection("Scripts", required: false)
</body>
</html>